@using tsuHelp.ViewModels
@model ChatListViewModel

@foreach (var chat in Model.chats)
{
@* 	@if(chat.FirstUserId != Model.currentUserId)
	{
		<p>@chat.FirstUser.Name @chat.FirstUser.Surname</p>
	}

	@if (chat.SecondUserId != Model.currentUserId)
	{
		<p>@chat.SecondUser.Name @chat.SecondUser.Surname</p>
	} *@

	<p>@chat.FirstUserId @chat.SecondUserId</p>
}

<h1> dededed</h1>