@using tsuHelp.ViewModels
@model ChatViewModel


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/chats-list.css" />

<script src="/js/signalr/dist/browser/signalr.js"></script>

<input type="hidden" id="postId" name="PostId" value="@Model.PostId" />
<input type="hidden" id="initialRecieverId" name="InitialRecieverId" value="@Model.RecieverId" />

<div class="chat-wrapper">
    <ul id="chatsList" class="chats-box list-group list-group-flush">
        @foreach (var chat in Model.Chats) 
        {
            <li id="@chat.ChatId" class="list-group-item list-group-item-action">
                @* <a href="#" data-reciever-id="@chat.RecieverId" class="chat-link">Chat with @chat.Reciever.Name @chat.Reciever.Surname</a> *@

                <a href="#" data-reciever-id="@chat.RecieverId" class="chat-link">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">@chat.Reciever.Name @chat.Reciever.Surname</strong>
                        @* <small class="text-body-secondary">Tues</small> *@
                    </div>
                    <div class="col-10 mb-1 small latest-message">@chat.LatestMessage.Content</div>
                </a>
            </li>
        }
    </ul>
    <div class="messages-box">
        <!-- Здесь будет отображаться контент чата -->
    </div>
</div>

<script src="~/js/new-chat.js"></script>


