
@model List<User>

<head>
@*<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .profile-card {
        border: 1px solid #ddd;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .profile-name {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .profile-description {
        margin-bottom: 10px;
        margin-left: 14px;
    }

    .profile-info {
        margin-left: 15px;
    }

    .specialization-heading {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .specialization-item {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 4px 10px;
        border-radius: 3px;
        color: #555;
        position: relative;
        top: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .specialization-items-container {
        display: flex; /* Display specialization items in a row */
        flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .post-card {
        border: 1px solid #ddd;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 150px;
        flex-direction: column;
    }

    .post-info {
        /* Add a container for profile-name and profile-description */
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        /*margin-bottom: 10px;*/
    }

    .post-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .post-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .post-description {
        margin-bottom: 10px;
    }

    .tag-heading {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .tag-item {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 4px 10px;
        border-radius: 3px;
        color: #555;
        position: relative;
        top: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .tag-container {
        display: flex; /* Display specialization items in a row */
        flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
        margin-bottom: 10px;
    }

    .buttons-container {
        display: flex; /* Display specialization items in a row */
        flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
        margin-top: 15px;
    }

    .change-post-btn {
        margin-right: 5px;
    }

    .user-posts {
        margin-bottom: 16px;
        margin-top: 4px;
        margin-left: 15px;
        font-size: 32px;
    }
</style>*@

    <title>Пользователи</title>
    <!-- Add your CSS styles here or link to an external stylesheet -->
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<div class="container">
    @foreach (var user in Model)
    {
        <div class="profile-card">
            <div class="avatar-and-profile-info">

                @if(user.ProfileAvatar != null)
                {
                    <div class="small-avatar-placement">
                        <div class="small-avatar-container">
                            <img class="small-avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(user.ProfileAvatar))" />
                        </div>
                    </div>
                }

                <div class="profile-info">
                    <a type="btn btn-success" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id" class="btn btn-sm profile-name">@user.Name @user.Surname</a>
                    <div class="profile-description">@user.Description</div>
                </div>
                
            </div>

            <div class="specialization-items-container">
                @foreach (var subject in user.Subjects)
                {
                    <span class="specialization-item">@subject.Subject</span>
                }
            </div>

            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <a type="btn btn-success" asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-outline-secondary mt-4">Удалить пользователя</a>
            }
        </div>
    }
</div>

